@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Password Recovery</title>
</head>
<body>
    <h2>Password Recovery</h2>

    @using (Html.BeginForm()) {
        <input type="text" name="email" />
        <input type="submit" value="Send me new password" />
    }

    @Html.Encode(ViewData["Error"])
</body>
</html>
