<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MVCDbEntitiesConnection" connectionString="metadata=res://*/MVCDbModel.csdl|res://*/MVCDbModel.ssdl|res://*/MVCDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Demo2010A;initial catalog=MVCNet;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>